<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<connectionStrings>
		<add name="Funcionarios" connectionString="Data Source=DESKTOP-C2QPAP9\B1;Initial Catalog=GereciamentoDeFuncionarios;User ID=SA;Password=sap@123"
        providerName="System.Data.Client"/>
	</connectionStrings>
</configuration>

